<main class="main">
    {{#with data}}
        <div class="main__content">
            <div class="nav">
                 <h1 class="title title--center">{{name}}</h1>
                 <a href="/">
                 <img src="img/svg/home.svg" alt="home-button" height="54px" width="54px">
                </a>
            </div>

            <a href="/spotify-add?playlistId={{playlistId}}" class="add-button">
                <img src="img/svg/add-track.svg" alt="add-button">
                Додати до плейліста
            </a>

            <ul class="track__list">
                {{#each tracks}}
                    <li class="track" data-audio-src="{{link}}">
                        <img src="{{image}}" alt="track-image">
                        <div class="track__content">
                            <strong class="track__name">{{name}}</strong>
                            <em class="track__author">{{author}}</em>
                        </div>
                        <a href="/spotify-track-delete?playlistId={{../playlistId}}&trackId={{id}}">
                            <img src="img/svg/delete.svg" alt="delete-button">
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/with}}
</main>