
<div class="card__block">
    <h1 class="card__name">{{name}}</h1>
    <p class="card__description">{{description}}</p>
    <p class="card__id">ID: {{id}}</p>
    <div class="tech">
        <p class="card__price">Ціна: {{price}}$</p>
        <a href="/product-edit?id={{id}}" class="card__update">Редагувати</a>
    </div>
</div>
